@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,700|Fira+Sans:300,400,500,700,900&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400px;
  font-size: 15px; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 160px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #3399cc;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase; }

/*--== /buttons ==--*/
main {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d66579), color-stop(80%, #4f3e70), to(#4f3e70));
  background-image: -webkit-linear-gradient(bottom, #d66579 0%, #4f3e70 80%, #4f3e70 100%);
  background-image: linear-gradient(to top, #d66579 0%, #4f3e70 80%, #4f3e70 100%); }

.slider {
  padding: 0 59px;
  position: relative; }

.slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 59px;
  z-index: 999;
  color: #4f96d0;
  font-size: 32px;
  line-height: 1; }

.slider .slick-arrow span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -16px;
  text-align: center; }

.slider .slick-arrow:hover {
  color: #2ec47a; }

.slider .slick-arrow-right {
  right: 0; }

.slider .slick-arrow-left {
  left: 0; }

.bread-crumb {
  list-style: none;
  margin-bottom: 57px; }

.bread-crumb .active {
  text-decoration: none;
  cursor: default;
  color: red; }

.bread-crumb .active:hover {
  text-decoration: none; }

.bread-crumb li {
  position: relative;
  margin: 0 10px 0 0;
  display: block;
  float: left; }

.bread-crumb li a {
  color: #666;
  line-height: 1;
  display: block;
  padding: 15px 0; }

.bread-crumb li a:hover {
  text-decoration: underline; }

.bread-crumb li + li {
  padding-left: 15px; }

.bread-crumb li + li:before {
  position: absolute;
  content: '>';
  margin: 13px 0;
  left: 0; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: .8; }

.close-x:before, .close-x:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*MEDIA QUERY*/
