header
	.container
		nav.navbar.navbar-default
			// Brand and toggle get grouped for better mobile display
			.navbar-header

				#hamburger(role='button')
					span
					span
					span
					span
				

				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				


				a.navbar-brand(href='#') Brand
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='#')
							| Link
							span.sr-only (current)
					li
						a(href='#') Link
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Dropdown
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li.divider(role='separator')
							li
								a(href='#') Separated link
							li.divider(role='separator')
							li
								a(href='#') One more separated link
				form.navbar-form.navbar-left
					.form-group
						input.form-control(type='text', placeholder='Search')
					button.btn.btn-default(type='submit') Submit
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') Link
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Dropdown
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li.divider(role='separator')
							li
								a(href='#') Separated link
			// /.navbar-collapse