/*--== buttons ==--*/
.butn{
    display: inline-block;
min-width: 160px;
// height: 40px;
border-radius: 2px;
background-color: #3399cc;

color: #fff;
font-weight: 600;
line-height: 1;
text-transform: uppercase;
}
/*--== /buttons ==--*/
