// #nav{
//     list-style: none;
//     display: block;


//     text-align: justify;
//     line-height: 0;


//     margin-bottom: 0;
//     &:after{
//         width: 100%;
//         height: 0;
//         visibility: hidden;
//         overflow: hidden;
//         content: "";
//         display: inline-block;
//     }

//     >li{

//         display: inline-block;
//         text-align: left;
//         line-height: normal;
//         font-size: 14px;



//         position: relative;
//         >ul{
//             display: none;
//         }
//     }
// }


#hamburger {
    display: none;
    width: 36px;
    height: 36px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: red;
        //border-radius: 9px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 9px;
        }
        &:nth-child(4) {
            top: 18px;
        }
    }
    &.open span:nth-child(1) {
        top: 9px;
        width: 0;
        left: 50%;
    }
    &.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    &.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    &.open span:nth-child(4) {
        top: 9px;
        width: 0;
        left: 50%;
    }
}