@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,700|Fira+Sans:300,400,500,700,900&subset=cyrillic,cyrillic-ext');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Fira Sans Condensed', sans-serif;
html{
	height: 100%;
}
body{
	min-height: 100%;
	background: #fff;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}

@import 'mixins';

h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}


.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}



// @import 'sprite';
@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';